*{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 0px;
}
header{
    background-color: black;
    padding: 30px;
    margin-bottom: 30px;
    display: flex;
}
#imagenHeader{
    width: 200px;
}
h1{
    color: white;
    text-align: center;
    padding-top: 70px;
}
ol{
    list-style: disc;
}

h2{
    margin-top: 20px;
}